body {
    background-color: rgb(150, 87, 208);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
}
.text-center{
text-emphasis-style:bold 40px;
}
.footer{

    background-color: #333; 
            color: white;
            text-align: center; 
            padding: 10px; 
            position: fixed;
            left: 0; 
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center; }

.div-wrapper{
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 87, 208);
    color: rgb(251, 222, 2);
    

}
img{
    height:200px;
    width:200px;
    float:left;
}