body {
    background-color: rgb(150, 87, 208);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 25px;
}
.text-center{
text-emphasis-style:bold 40px;
}
.footer{

    background-color: #333; /* Background color of the footer */
            color: white; /* Text color in the footer */
            text-align: center; /* Center-align the text */
            padding: 10px; /* Add some padding for better appearance */
            position: fixed; /* Stick the footer to the bottom of the viewport */
            left: 0; /* Position it to the left */
            bottom: 0; /* Position it at the bottom */
            width: 100%; /* Make it stretch the full width of the viewport */
            display: flex; /* Use flexbox for centering */
            justify-content: center; }
            
.div-wrapper{
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 87, 208);
    color: rgb(251, 222, 2);
    

}
img{
    height:200px;
    width:200px;
    float:left;
}