.messageForm {
    text-align: center;
    
}
.footer{

    background-color: #333; /* Background color of the footer */
            color: white; /* Text color in the footer */
            text-align: center; /* Center-align the text */
            padding: 10px; /* Add some padding for better appearance */
            position: fixed; /* Stick the footer to the bottom of the viewport */
            left: 0; /* Position it to the left */
            bottom: 0; /* Position it at the bottom */
            width: 100%; /* Make it stretch the full width of the viewport */
            display: flex; /* Use flexbox for centering */
            justify-content: center; }

.icons {
    
    height:80px;
    width:80px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
  }
  body {
    background-color: rgb(150, 87, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.text-center {

}